<!DOCTYPE html>
<html ng-app="FastMatcherDemo">

<head>
    <title>angular-fast-matcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" />
    <link rel="stylesheet" href="//yandex.st/highlightjs/8.0/styles/mono-blue.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <script src="angularFastMatcher.js"></script>
    <script src="demo.js"></script>

    <style>
        body { overflow-y: scroll; }
        .page-header { text-align: center; }
        .page-header a { font-weight: bold; }
        .nav { margin-bottom: 15px; }
        .compact-book-view { overflow-x: hidden; text-overflow: ellipsis; }
        .modal { display: block; background-color: rgba(0, 0, 0, 0.75); }
        .modal-dialog {
            display: block;
            position: absolute;
            width: 600px;
            max-height: 600px;
            top: calc(50% - 300px);
            left: calc(50% - 300px);
        }
        pre { padding: 0; }
        pre code {
            font-family: "Consolas", "Inconsolata", monospace;
            font-size: 110%;
        }
        .attribute-list li {
            margin-bottom: 12px;
        }
    </style>

    <script>
        hljs.initHighlightingOnLoad();
    </script>
</head>

<body ng-controller="DemoController">
    <div class="container">
        <div class="page-header hidden-xs">
            <h1>angular-fast-matcher demo</h1>
            <p class="lead">
                <strong>angular-fast-matcher</strong> is an Angular directive that uses the
                <a href="https://github.com/dtao/fast-matcher">fast-matcher</a> library to
                provide autocomplete results.<br />
                See the <a href="#usage" ng-click="showPage('usage')">usage</a> section for details
                on how to use it.
            </p>
            <p>
                The data for this demo is taken from
                <a href="http://www.gutenberg.org/" target="_blank">Project Gutenberg</a>.
            </p>
        </div>

        <h3 class="text-right visible-xs">
            angular-fast-matcher-demo<br />
            <small><a href="https://github.com/dtao/angular-fast-matcher">Source on GitHub</a></small>
        </h3>

        <ul class="nav nav-pills">
            <li class="{{getTabClass('demo')}}">
                <a href="#demo" ng-click="showPage('demo')">Demo</a>
            </li>
            <li class="{{getTabClass('usage')}}">
                <a href="#usage" ng-click="showPage('usage')">Usage</a>
            </li>
        </ul>

        <div id="demo" ng-show="isCurrentPage('demo')">
            <div class="form-group">
                <input type="text" name="prefix" class="form-control"
                    fast-matcher
                    fast-matcher-source="booksPromise"
                    fast-matcher-output="matchingBooks"
                    fast-matcher-properties="title,titleBase,author,authorFullName"
                    fast-matcher-current-callback="setCurrentBook"
                    fast-matcher-selection-callback="selectBook"
                    placeholder="{{inputPlaceholder}}"
                    ng-disabled="!loaded"
                    ng-model="prefix" />
                <p class="help-block">You can search by title or author.</p>
            </div>

            <div class="list-group">
                <a ng-repeat="book in matchingBooks"
                    href="http://www.gutenberg.org/ebooks/{{book.id}}"
                    target="_blank"
                    class="list-group-item"
                    ng-class="{active: $index == currentBookIndex}">

                    <div class="full-book-view hidden-xs">
                        <h3 class="list-group-item-heading" ng-bind="book.title"></h3>
                        <p ng-bind="book.author"></p>
                    </div>

                    <div class="compact-book-view visible-xs">
                        <strong ng-bind="book.title"></strong>
                        <small ng-bind="book.author"></small>
                    </div>
                </a>
            </div>
        </div>

        <div id="usage" ng-show="isCurrentPage('usage')">
            <p>
                Attach the directive to an <code>&lt;input&gt;</code> element with the following
                attributes.
            </p>

            <h3>Required</h3>

            <ul class="attribute-list">
                <li>
                    <strong><code>fast-matcher</code></strong>
                </li>

                <li>
                    <strong><code>fast-matcher-source</code></strong>
                    <p>Specify either an array or promise that resolves to an array. This will be
                    the underlying source from which autocomplete results are fetched.</p>
                </li>

                <li>
                    <strong><code>fast-matcher-output</code></strong>
                    <p>Specify the array to be populated with autocomplete results. If it doesn't
                    already exist, the directive will create it.</p>

                    <p>Note that this array will be updated in-place.</p>
                </li>
            </ul>

            <h3>Optional</h3>

            <ul class="attribute-list">
                <li>
                    <strong><code>fast-matcher-property</code></strong>
                    (or <code>fast-matcher-properties</code>)
                    <p>The name of the property to access from each element of the underlying
                    source. For example if the data source is an array of book objects and you want
                    to provide autocompletion by title, you would specify 'title' here.</p>

                    <p>You can also specify multiple properties (with fast-matcher-properties),
                    separated by commas and/or spaces. In this case the directive will search across
                    all properties for matches.</p>

                    <p>You don't have to include this attribute if the data source is just a list of
                    strings.</p>
                </li>

                <li>
                    <strong><code>fast-matcher-limit</code></strong>
                    <p>The maximum number of matches to find.</p>
                </li>

                <li>
                    <strong><code>fast-matcher-any-word</code></strong>
                    <p>Whether to support matching by any word (not just the first word) in a
                    string.</p>
                </li>

                <li>
                    <strong><code>fast-matcher-current-callback</code></strong>
                    <p>A function to call with the index of the currently selected item, whenever it
                    changes. This is to support keyboard-based selection (letting the user hit
                    Up/Down to highlight items in the list).</p>
                </li>

                <li>
                    <strong><code>fast-matcher-selection-callback</code></strong>
                    <p>A function to call when an item is selected from the list of autocompletion
                    results. This will be called when the user selects an item and hits Enter.</p>
                </li>
            </ul>

            <h3>Example</h3>

            <pre ng-non-bindable><code class="html">&lt;input type="text"
    fast-matcher
    fast-matcher-source="books"
    fast-matcher-output="matchedBooks"
    fast-matcher-property="title"
    fast-matcher-current-callback="setCurrentBook"
    fast-matcher-selection-callback="selectBook" /&gt;

&lt;!--
    You can put this list anywhere on the page and style it however you want.
    In fact you can put it multiple places. Or nowhere. It also doesn't have to be
    a &lt;ul&gt; element. It can be anything.
--&gt;
&lt;ul&gt;
    &lt;li ng-repeat="book in matchedBooks" ng-class="{active: isCurrentBook($index)}"&gt;
        &lt;div class="title" ng-bind="book.title"&gt;&lt;/div&gt;
        &lt;div class="author" ng-bind="book.author"&gt;&lt;/div&gt;
    &lt;/li&gt;
&lt;/ul&gt;</code></pre>
        </div>
    </div>

    <a href="https://github.com/dtao/angular-fast-matcher" class="hidden-xs"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/8b6b8ccc6da3aa5722903da7b58eb5ab1081adee/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png"></a>
</body>

</html>
